body {
    background: #000;
    color: #fff;
    font-family: sans-serif;
}
/* div {
    border: 1px dashed darkolivegreen;
} */
header {
    text-align: center;
    padding-top: 20px;
}   
/* Template */
.wrapper {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "card card card"
        "co-1 co-2 co-3";
        
    text-align: center;
    text-transform: uppercase;
}
.card {
    grid-area: card;
    margin: auto;
    padding: 50px;
    width: 50%;
    height: 80%;
}
/* style for all columns */
.co-1,
.co-2,
.co-3 {
    min-height: 50px;
    padding: 25px;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}
.co-1 {
    grid-area: co-1;
}
.co-2 {
    grid-area: co-2;
}
.co-3 {
    grid-area: co-3;
}
/* Button style */
.button {
    border: 2px solid yellow;
    border-radius: 5px;
    padding: 10px;
    margin: 50px auto;
}
.button:hover {
    /* border: 2px solid blue; */
    cursor: pointer;
}
.button:active {
    border: 2px solid blue;
}