body {
    background: #000;
    color: #fff;
}
div {
    border: 1px dashed darkolivegreen;
}
.wrapper {
    display: grid;
    width: 50%;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        ". card ."
        "co-1 co-2 co-3"
        ". co-4 .";
    text-align: center;
    text-transform: uppercase;
}
.card {
    grid-area: card;
}
/* Display on/off results */
.card-output {
    visibility: hidden;
}
.co-1 {
    grid-area: co-1;
}
.co-2 {
    grid-area: co-2;
}
.co-3 {
    grid-area: co-3;
}
.co-4 {
    grid-area: co-4;
}
.button {
    border: 5px solid yellow;
    border-radius: 25px;
    padding: 10px;
    margin: 10px auto;
}